@import "layout";
@import "notify";
@import "tree";
@import "theme";

.text-warning {
    color: blue !important;
}

.lala {
    background-color: red;
}

.p-dialog-footer {
    padding: 0px !important;
}
