<!-- <p-toast [style]="{marginTop: '40px'}"></p-toast> -->

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width:'50vw','max-width':'600px'}" [draggable]="true" [resizable]="false">
  <ng-template pTemplate="header">
    <div>Edit table record</div>
  </ng-template>
  <ng-template pTemplate="content">
    <form [formGroup]="form" (ngSubmit)="submit()" class="p-mb-4" overflow-y-auto>
      <formly-form [model]="model" [fields]="fields" [form]="form" [options]="options"></formly-form>
    </form>
    <div>{{ fields | json }}</div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displayModal=false" label="CANCEL" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" (click)="submit()" label="SUBMIT"></p-button>
  </ng-template>
</p-dialog>

<div class="flex-auto flex flex-column overflow-y-hidden">
  <div class="p-0 flex-auto overflow-y-auto">
    <p-toolbar>
      <p-dropdown [options]="tables" [(ngModel)]="table" placeholder="Select a Table" optionLabel="name" (onChange)=selectTable($event.value)></p-dropdown>
      <button pButton pRipple type="button" icon="pi pi-plus" class="ml-auto p-button-rounded" pTooltip="New Record" tooltipPosition="left" (click)="addRecord()"></button>
    </p-toolbar>

    <tbl class="flex-auto"
      [cols]="cols"
      [value]="rows"
      (click)="onRowClick($event)">
    </tbl>
  </div>
</div>

<!-- <pre [innerHTML]="paint(fields)"></pre> -->
