<p-toast></p-toast>

<div class="flex-wrapper">

  <p-splitter class="h-full" styleClass="h-full" [panelSizes]="[30,70]">

    <ng-template pTemplate>
      <div class="w-full flex flex-column">
        <div class="card mb-0 p-2 flex gap-1">
          <button pButton pRipple type="button" icon="pi pi-angle-double-down" class="p-button-rounded p-button-text" (click)="expandAll()"></button>
          <button pButton pRipple type="button" icon="pi pi-angle-double-up" class="p-button-rounded p-button-text" (click)="collapseAll()"></button>

          <button pButton type="button" label="picklist" icon="pi pi-plus" class="ml-auto p-button-text p-button-sm"></button>
          <button pButton type="button" [disabled]="lookup === null" label="option" icon="pi pi-plus" class="p-button-text p-button-sm"></button>
        </div>
        <p-tree
          class="overflow-y-auto"
          scrollHeight="flex"
          [value]="tree"
          [(selection)]="selectedNode"
          [filter]="true" selectionMode="single"
          (onNodeSelect)="lookupSelect($event)">
        </p-tree>
      </div>
    </ng-template>

    <ng-template pTemplate>
      <div *ngIf="model" [style]="{'max-width':'1000px'}" class="card overflow-y-auto">

        <form [formGroup]="form" (submit)="submit()">

          <h3>{{ title }}</h3>

          <div class="field flex">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.
            </div>
            <button pButton type="button" label="edit" icon="pi pi-pencil" class="ml-auto p-button-text p-button-sm" (click)="edit()"></button>
          </div>

          <div class="grid">

            <!-- group -->
            <div class="field col mb-0">
              <form-text
                label="Group Key"
                [disabled]="isOption || !isEditing"
                formControlName="group">
              </form-text>
              <val-errors controlName="name" label="The group"></val-errors>
            </div>

            <!-- picklist -->
            <div class="field col mb-0">
              <form-text
                label="Picklist Key"
                prompt="key"
                [disabled]="isOption || !isEditing"
                formControlName="picklist">
              </form-text>
            </div>

          </div>

          <!-- option -->
          <div *ngIf="isOption" class="field">
            <form-text
              label="Option Key"
              formControlName="option"
              [disabled]="!isEditing">
            </form-text>
          </div>

          <!-- name -->
          <div class="field">
            <form-text
              label="Display Name"
              formControlName="name"
              [disabled]="!isEditing">
            </form-text>
          </div>

          <!-- isEnabled -->
          <div class="field">
            <form-check
              label="Enabled"
              formControlName="isEnabled"
              [disabled]="!isEditing">
            </form-check>
          </div>

          <!-- isItem -->
          <div class="field">
            <form-check
              label="Item"
              formControlName="isItem"
              [disabled]="!isEditing">
            </form-check>
          </div>

          <ng-container *ngIf="def">

            <div class="grid">

              <div class="field col pb-0 mb-0">
                <form-number
                  label="Number of Rows"
                  formControlName="wellRows"
                  [disabled]="!isEditing">
                </form-number>
              </div>

              <div class="field col mb-0">
                <form-number
                  label="Number of Columns"
                  formControlName="wellCols"
                  [disabled]="!isEditing">
                </form-number>
              </div>

              <div class="field col">
                <form-number
                  formControlName="wellVolume"
                  label="Well Volume"
                  decimals="3"
                  units="Units:Volume"
                  [disabled]="!isEditing">
                </form-number>
              </div>
            </div>

          </ng-container>

          <div *ngIf="isEditing" [@scaleInOut] class="flex justify-content-end align-items-center p-2">
            <button pButton pRipple type="button" class="p-button-text mr-2" label="Cancel" (click)="cancel()"></button>
            <p-button label="Save" [disabled]="!form.valid || !changed" (click)="accept()"></p-button>
          </div>
        </form>

        <changed-info [model]="model"></changed-info>

        <pre class="m-2 p-2 text-sm bg-yellow-50">{{ form.value | json }}</pre>
        <!-- <pre class="m-2 p-2 text-sm bg-yellow-50">{{ model | json }}</pre> -->
        <pre class="m-2 p-2 text-sm bg-yellow-50">Changed: {{ changed }}</pre>

        <p>previous: {{ previousNode?.label }}</p>
        <p>selected: {{ selectedNode?.label }}</p>

      </div>

    </ng-template>
  </p-splitter>

</div>