<div class="wrapper">
  <header class="main-head">The header</header>
  <nav class="main-nav">
    <ul>
      <li><a href="">Nav 1</a></li>
      <li><a href="">Nav 2</a></li>
      <li><a href="">Nav 3</a></li>
    </ul>
  </nav>
  <article class="content">
    <h1>Main article area</h1>
    <p>
      In this layout, we display the areas in source order for any screen less
      that 500 pixels wide. We go to a two column layout, and then to a three
      column layout by redefining the grid, and the placement of items on the
      grid.
    </p>
  </article>
  <aside class="side">Sidebar</aside>
  <div class="ad">Advertising</div>
  <footer class="main-footer">The footer</footer>
</div>



<!-- <div class="flex-wrapper">
  <div class="p-4">CONTENT STATIC</div>
  <div class="p-0 flex-auto overflow-y-auto">
    <div *ngFor="let _ of [].constructor(100)" class="p-0">
      <p class="p-4">This is your empty view template to start building beautiful applications.</p>
    </div>
  </div>
</div>
 -->

<!-- <div id="kanban-wrapper" class="grid grid-nogutter w-full flex-column flex-nowrap gap-5 overflow-y-hidden overflow-x-auto">
  <div class="p-kanban-list">
    <div *ngFor="let _ of [].constructor(20)" class="surface-card flex flex-column md:w-25rem border-1 surface-border overflow-hidden border-round">
      <div class="p-4">Hello World</div>
    </div>
  </div>
  <div class="px-3 mb-3 md:w-25rem flex-shrink-0">
    <button pButton pRipple label="New List" icon="pi pi-plus font-semibold" class="py-3 justify-content-center font-semibold w-full border-round"></button>
  </div>
</div> -->

<!-- 
<div class="flex align-items-center toolbar">
    <span class="p-input-icon-left">
        <i class="pi pi-filter"></i>
        <input pInputText type="text" placeholder="Filter Results" />
    </span>
    <button pButton pRipple type="button" icon="pi pi-plus" label="SKU" class="ml-2 p-button-text p-button-help"></button>
    <span class="ml-auto">Right Side</span>
</div>

<div class="flex-auto flex flex-column overflow-y-hidden">
    <div class="p-0 flex-auto overflow-y-auto">
      <div *ngFor="let _ of [].constructor(200)" class="d">This is the main panel</div>
      </div>
    <div class="m-0">
      <div class=""d>This is the side panel</div>
    </div>
</div>
 -->

<!--

<div class="card">
  <h4>Parameters</h4>
  <p>Define width, height, number of colord and number of patterns.</p>
  <button pButton type="button" label="Solve" (click)="solve()"></button>
</div>

<div *ngIf="squares?.length" class="card">

    <div *ngFor="let row of range(rows)" class="wrapper">
      <div *ngFor="let col of range(cols)" class="box" [style.background]="quilt[row*cols + col]?.color">
        {{ quilt[row*cols + col]?.pattern }}
      </div>
    </div>

    <div>ns: {{ ns }}</div>
    <div>nq: {{ nq }}</div>

</div>

-->
