$gutter: 1rem; //for primeflex grid system

/* Layout */
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Quill Text Editor for p-editor */
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";

@import "../node_modules/prismjs/themes/prism-coy.css";
// @import "assets/demo/documentation.scss";

@import "./assets/pyramid/pyramid.scss";

// https://www.pinterest.com/pin/house--1266706136650688/
// #521908 #823919 #CA7B42 #FFDBAF #F7EBD3

i {
    font-family: "Material Icons Two Tone", "Material Icons";
    filter: invert(25%) sepia(22%) saturate(2894%) hue-rotate(344deg) brightness(92%) contrast(92%);
}

.bordr {
    border: 1px solid darkorange;
}

.bordr1 {
    border: 1px solid #b150c5;
}

.bordr2 {
    border: 1px solid #78be21;
}

.units .p-cascadeselect-trigger {
    display: none !important;
}

.units .p-dropdown-trigger {
    display: none !important;
}

.lala {
    background-color: red;
}

.formgrid {
    margin: 0;
}

div.p-hour-picker > span::after {
    content: "h";
    color: var(--purple-400);
}

div.p-minute-picker > span::after {
    content: "m";
    color: var(--purple-400);
}

div.p-second-picker > span::after {
    content: "s";
    color: var(--purple-400);
}

// position for the clear icon in input elements

.p-inputnumber-clear-icon,
.p-calendar-clear-icon {
    position: absolute;
    right: 10px;
}

.p-multiselect-clear-icon,
.p-cascadeselect-clear-icon {
    position: absolute;
    right: 34px;
}

.updown .p-inputnumber-clear-icon {
    position: absolute;
    right: 40px;
}

.bordr {
  border: 4px solid red;
}
