$gutter: 1rem; //for primeflex grid system

/* Layout */
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Quill Text Editor for p-editor */
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";

@import "../node_modules/prismjs/themes/prism-coy.css";
// @import "assets/demo/documentation.scss";

@import "./assets/pyramid/pyramid.scss";

// https://www.pinterest.com/pin/house--1266706136650688/
// #521908 #823919 #CA7B42 #FFDBAF #F7EBD3

i {
    font-family: "Material Icons Two Tone", "Material Icons";
    filter: invert(25%) sepia(22%) saturate(2894%) hue-rotate(344deg) brightness(92%) contrast(92%);
}

.primary {
    filter: invert(25%) sepia(22%) saturate(2894%) hue-rotate(344deg) brightness(92%) contrast(92%);
}
.primary-light {
    filter: invert(51%) sepia(100%) saturate(312%) hue-rotate(343deg) brightness(87%) contrast(88%);
}
.primary-dark {
    filter: invert(11%) sepia(39%) saturate(3306%) hue-rotate(354deg) brightness(97%) contrast(97%);
}

.accent {
    filter: invert(38%) sepia(70%) saturate(576%) hue-rotate(327deg)
        brightness(90%) contrast(94%);
}

.accent-light {
    filter: invert(47%) sepia(97%) saturate(1627%) hue-rotate(12deg)
        brightness(101%) contrast(98%);
}

.gray {
    filter: invert(98%) sepia(85%) saturate(163%) hue-rotate(186deg)
        brightness(112%) contrast(88%);
}

.text-dark {
    color: #521908;
}
.text-light {
    color: #CA7B42;
}
.text-secondary {
    color: #00205c;
}

.bordr {
    border: 1px solid darkorange;
}

.bordr1 {
    border: 1px solid #b150c5;
}

.bordr2 {
    border: 1px solid #78be21;
}

.units .p-cascadeselect-trigger {
    display: none !important;
}

.units .p-dropdown-trigger {
    display: none !important;
}

.lala {
    background-color: red;
}

.formgrid {
    margin: 0;
}

div.p-hour-picker > span::after {
    content: "h";
    color: var(--purple-400);
}

div.p-minute-picker > span::after {
    content: "m";
    color: var(--purple-400);
}

div.p-second-picker > span::after {
    content: "s";
    color: var(--purple-400);
}

// position for the clear icon in input elements

.p-inputnumber-clear-icon,
.p-calendar-clear-icon {
    position: absolute;
    right: 10px;
}

.p-multiselect-clear-icon,
.p-cascadeselect-clear-icon {
    position: absolute;
    right: 34px;
}

.updown .p-inputnumber-clear-icon {
    position: absolute;
    right: 40px;
}
