$ht: 32px;
$border: rgba(#000, 0.1);
table {
    border-collapse: collapse;
    border-bottom: 1px solid $border;
    width: 100%;
}
th {
    height: $ht !important;
    text-transform: uppercase;
    // background-color: $border;
}
tr {
    height: $ht !important;
}
td,
th {
    padding: 0 8px !important;
    text-align: left;
    border-bottom: 1px solid $border;
    font-size: 12px;
    white-space: nowrap;
}

.empty {
    text-align: center;
    padding: 16px;
    margin-top: 4px;
    width: 100%;
}

.p-dialog-content {
    padding: 0 !important;
}

label {
    margin-bottom: 2px !important;
}

.field {
    padding: 0 !important;
}
